.content{
    /* display:block;
    margin-top:600px; */
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home{
    display: block;
    padding-top: 0px;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: #82756A;
    width:140px;
    height:46px;
    border:1px solid #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff !important;
    margin: 0px auto;
    text-align: center;
    line-height:46px;
}

.thank {
    position: relative;
    display: flex;
    /* フレックスボックスを有効化 */
    justify-content: center;
    /* 水平方向の中央寄せ */
    align-items: center;
    /* 垂直方向の中央寄せ */
    font-size: 20px;
    /* 通常テキスト用のフォントサイズ */
    color: #000;
    /* 通常テキストの色 */
    margin: 50px 0;
    /* 上下に50pxのマージンを設定 */
}

.thank::after {
    content: 'Thank you';
    position: absolute;
    top: 50%;
    /* 垂直方向の中央寄せ */
    left: 50%;
    /* 水平方向の中央寄せ */
    transform: translate(-50%, -50%);
    /* 中央に配置 */
    font-size: 280px;
    /* 背景テキストのフォントサイズ */
    color: rgba(209, 201, 173, 0.3);
    /* 背景テキストの色（透明度含む） */
    z-index: -1;
    /* 背景として配置 */
    white-space: nowrap;
    /* テキストの折り返し防止 */ }